[Unit]
Description=Minecraft McMaster Frontend
After=network.target auditd.service

[Service]
User=root
Group=root

WorkingDirectory=/opt/mcmaster/frontend
ExecStart=node __sapper__/build

ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target